@font-face {
    font-family: 'CBNUJIKJI';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/CBNUJIKJI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body, h1 {
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    background-color: transparent;
    width: 100%;
    z-index: 1;
    display: flex;
}

nav li{
    text-align: right;
}

nav img {
    width: 100px;
    height: 100px;
}

nav a {
    font-family: 'CBNUJIKJI';
    font-size: 25px;
    color: #FFF;
}

.page {
    position: relative;
    width: 100%;
    height: 100vh;

}


#DST {
    top : 0; 
    left : 0; 
    bottom : 0; 
    right : 0; 
    background-position: center;
    background-size: cover;
    position:absolute;
    margin:auto;
    z-index: 1;
}

#DS {
    top : 0; 
    left : 0;
    background-position: center;
    background-size: cover;
    position:absolute;
    margin:auto;
    z-index: 1;
}

.video {
    height: 100vh;
}

.video_box {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%
    
}

.video_box video {
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}